body{
    background-color: #ffe8d6;
    margin: 0px;
    position: relative;
    z-index: -10;
}
#newdiv h1::after{
    content: " of : Flex";
}
#anotherdivv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#image2{
    flex-basis: calc(100% / 3);
}
.newp{
    flex-basis: calc(100% / 3);
    
}
#newdiv h1{
    text-align: center;
    width: 100%;
}
#newdiv{
    background-color: #7895B2;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px 16px;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 2px;

}
#seconddiv{
    margin-top: 120px;
}
div{
    border-radius: 8px;
    background-color:#AEBDCA;
    margin: 20px;
    padding: 14px 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: -1;
}
img{
    border-radius: 8px;
    width:calc(100% / 3) ;   
}
#imagediv img{
    display: flex;
   width: 33.33%;
    height: 50vh;
}
.div2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.div2 #image2{
  margin: 10px;
}
.footer{
    background-color: #7895B2;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.footer p{
    width: 100vh;
}
img:hover{
    transform: scale(1.02);
}