body{
    background-color: rgb(225, 255, 177);
}
#newdiv{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px 16px;

}
#newdiv h1::after{
    content: " of : float";
}
div{
    border-radius: 8px;
    background-color:#B6E388    ;
    margin: 20px;
    margin-right: 0;
    padding: 14px 16px;
    float:left;
    width: 100%;
}
img{
   border-radius: 8px;
    width: 50%;
    height: 50vh;
    margin: auto;
    float: right;
}
div #imagedi{
    float: left;  
}
p{
    border-radius: 8px;
    background-color: #FCFFB2;
    padding: 5px;
    margin: 10px;
}
#anotherdivv p{
    float: right;
    width: 300px;
    height: auto;
    border-radius: 8px;
}
