*{
    box-sizing: border-box;
}
body{
    background-color: #eee3d3;
    margin: 0px;
}
#headerdiv{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px 16px;
    position: fixed;
    background-color: #7895B2;
}
#headerdiv .newh1::after{
    content: " of : Float";
}
div{
    border-radius: 8px;
    background-color:#AEBDCA;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 14px 16px;
    float:left;
    width: 100%;
}
#div2{
    margin-top: 120px;
}
.image,#image2{
   border-radius: 8px;
    width: calc(100% / 3);
    height: 50vh;
    float: left;
}
#anotherdivv .newp{
    float: left;
    width: calc(100% / 3);
    height: auto;
    left: 5px;
}
.footer{
    background-color: #7895B2;
    clear: both;
    height: 60px;
    line-height: 60px;
}