body{
    background-color: #FF731D;
}
div h1::after{
    content: " of : grid";
}
h1{
    width: 100%;
    text-align: center;
}
.div2,.div3,.div4,.newdivv{
    border-radius: 8px;
    background-color:#FFF7E9;
    margin: 20px;
    padding: 14px 16px;
}
#seconddiv,#anotherdivv,#imagediv{
    border-radius: 8px;
    background-color:#5F9DF7;
    margin: 20px;
    padding: 14px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
    /* grid-template-columns: 400px;
    grid-template-rows: 100px; */

    overflow: auto;
    
}
img{
   border-radius: 8px;
    width: 50%;
    height: 50vh;
    margin: auto;

}